<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Kritarth Shah</title>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
    
    

	<script src="main.js"></script>
</head>
<body>
	<section class="intro" id="intro">
			<h3 href="" class="typewrite" data-period="2000" data-type='[ "Hi, I am Kritarth Shah!", "An Engineer", "A Data Enthusiast", "A Technology Enthusiast" ]'>
				<span class="wrap"></span>
			</h3>
	</section>

	<section class="about" id="about">
		<header>
			<h2 class="header">About</h2>
		</header>
		<div class=container>
			<div class="content">
				<p>&#128400; Hi, I am Kritarth Shah! <br>
					&#127979; 3rd year Computer Science @ Ryerson University <br>
					&#128204; DevOps Engineer Intern @ CGI Inc <br><br>
					Looking for Summer 2021 and Summer 2022 internships <br> <br>
					Interested in learning new technologies and <br>
					love to challenge myself with data structure and algorith questions.
				</p>
				<a style="float:left" href="https://www.linkedin.com/in/kritarthshah/" target="_blank"><p class="link">LinkedIn</p></a>

				<a  style="float:left" href="https://github.com/KritzEZ" target="_blank"><p class="link">GitHub</p></a>

				<a style="float:left" href="res/Kritarth Shah - Resume.pdf" target="_blank"><p class="link">Resume</p></a>

			</div>
			<img src="res/profile.png">
		</div>
	</section>

	<section class="experience" id="experience">
		<header>
			<h2 class="header">Experience</h2>
		</header>
		<div class="container">
			<ul class="timeline">
				<li class="timeline-placement" ng-repeat="itembx">
					<p class="timeline-placement-duration">Sept 2020 - Present</p>
					<div>
						<h2>CGI</h2>
						<h3>DevOps Engineer Intern</h3>
						<p>Developing automation script and managing/configuring servers, pipelines and projects</p>
					</div>
				</li>

				<li class="timeline-placement" ng-repeat="itembx">
					<p class="timeline-placement-duration">June 2020 - August 2020</p>
					<div>
						<h2>N-Micro IT Solutions</h2>
						<h3>Software Developer Intern</h3>
						<p>Developed an application package using ELK stack to create a automation pipeline that visualizes client logs in real time.</p>
					</div>
				</li>

				<li class="timeline-placement" ng-repeat="itembx">
					<p class="timeline-placement-duration">June 2017 - August 2017</p>
					<div>
						<h2>SK Computers</h2>
						<h3>Computer Technician</h3>
						<p>Fixed/replaced hardware and software issues with computers, laptops and tablets.</p>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="projects" id="projects">
		<header>
			<h2 class="header">Projects</h2>
		</header>
		<div class="container">
			<div class="card">
				<a href="https://github.com/KritzEZ/Spam_Detection" style="text-decoration: none">
				<div class="project-img">
					<img src="res/spam-detection.png">
				</div>
				<div class="project-content">
					<h3>SPAM MAIL DETECTION</h3>
					<h4>Python | NLP | Data | Jupiter Notebook</h4>
					<p>Filters and cleans data using using TFIDF, vectored data
					and used RandonForestClassifier library to train and test data to
					determine if the given text is a spam or not.</p>
				</div>
				</a>
			</div>

			<div class="card">
				<a href="https://github.com/KritzEZ/Re-Pll_DeltaHacks" style="text-decoration: none">
				<div class="project-img">
					<img src="res/re-pill_gb.png">
				</div>
				<div class="project-content">
					<h3>RE-PILL</h3>
					<h4>Python | React | Google API</h4>
					<p>Web App that allows user to take picture on medication label and using data algorithms will automatically create a google calender reminder for pill taking and refilling pills.</p>
				</div>
				</a>
			</div>

			<div class="card">
				<a href="https://github.com/KritzEZ/CPS209---Car-Simulator" style="text-decoration: none">
				<div class="project-img">
					<img src="res/code_bg.png">
				</div>
				<div class="project-content">
					<h3>CAR DEALERSHIP</h3>
					<h4>Java</h4>
					<p>Script that is similar to the data and back-end of a
					car-dealership application (Similar to autotrader.ca).</p>
				</div>
				</a>
			</div>

			<div class="card">
				<a href="https://github.com/KritzEZ/Snake-Game" style="text-decoration: none">
				<div class="project-img">
					<img src="res/snake.png">
				</div>
				<div class="project-content">
					<h3>CLASSIC SNAKE GAME</h3>
					<h4>Python</h4>
					<p>The classic snake game where you can change the intencity level of the game play and have fun.</p>
				</div>
				</a>
			</div>

		</div>
	</section>
</body>
</html>